/* Kiểu tổng thể cho header */
.navbar {
    background-color: #f8f9fa;
}

.nav-item-wrapper {
    position: relative;
    display: inline-block;
 

}

.nav-item {
    font-weight: bold;
    color: #333;
    padding: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
    font-family:  Arial, sans-serif;
}

.nav-item:hover {
    color: #28a745;
}

/* Sub-menu ẩn theo mặc định */
.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 10px;
    list-style: none;
    z-index: 1000;
}

.sub-menu-item {
    color: #333;
    padding: 10px;
    display: block;
    white-space: nowrap;
}

.sub-menu-item:hover {
    background-color: #f8f9fa;
    color: #28a745;
}

/* Hiển thị sub-menu khi hover vào nav-item-wrapper */
.nav-item-wrapper:hover .sub-menu {
    display: block;
}

/* Thanh tìm kiếm */
.d-flex .me-2 {
    margin-right: 10px;
}

.header-icons .icon {
    margin-left: 15px;
    color: #333;
}

.header-icons .icon:hover {
    color: #28a745;
}
